version: '3'

services:
  app:
    user: "1000"
    volumes:
      - ./backend:/app:z
      - ./shared/static:/app/static:z
    ports:
      - "8001:8000"
    command: /start-local.sh

  web:
    user: "1000"
    volumes:
      - ./frontend:/app:z
      - /app/node_modules
    ports:
      - "8080:8080"
