// app global css in SCSS form
.chore-safe {
  background-color: #ABEDC6;
}

.chore-safe:hover {
  background-color: #a4f1c4;
}

.chore-soon {
  background-color: #F7B801;
}

.chore-soon:hover {
  background-color: #F7B801;
}

.chore-due {
  background-color: #ff8c01;
}

.chore-due:hover {
  background-color: #FFB54C;
}

.chore-overdue {
  background-color: #EF8275;
}
.chore-overdue:hover {
  background-color: #EF8275;
}

@media only screen and (min-width: 600px) {
  .chore {
    height: 170px;
    width: 170px;
    cursor: pointer;
    border-radius: 10%;
  }
}

@media screen and (max-width: 600px) {
  .chore {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border-radius: 10%;
  }
}
